<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Zine Dream Catalog</title>
  </head>
  <body>
    <h1>Current Zine Catalog</h1>

    <ul class="zines">
      <% for(var i=0; i<zines.length; i++) {%>
        <li class="zine">
          <p><b>Title:</b> <%= zines[i].title || zines[i].Title %> </p>
            <% if (zines[i]["Sub title"] !='undefined'){ %>
            Subtitle: <i>  <%= zines[i]["Sub title"] %></i>
            <% } %>
          <p><b>Creator: </b> <%= zines[i].creator || zines[i].Creator %></p>

        </li>
      <% } %>



<h1>Add Your Favorite Zine</h1>
<form action="/zines" method="POST">
  <input type="text" placeholder="title" name="title">
  <input type="text" placeholder="creator" name="creator">
  <button type="submit">Submit</button>
</form>
  </body>
</html>


</ul>